/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@focusColor: #0EBFE9;
@lightTone: @focusColor + #222222;
@darkTone: @focusColor - #222222;
@charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@AlfaSlabOne: 'Alfa Slab One', cursive;
@SourceSansPro: 'Source Sans Pro', sans-serif;
@smallFont: 5vh;

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

p{
	width: 90%;
	margin: 5vw;
	text-align: center;
	line-height: @smallFont * 1.25;
}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	background: rgb(245, 245, 245);
	//Default Text Styles
	font-family: @SourceSansPro;
	font-size: @smallFont;
	color: @charcoal;
}

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

.Center(){
	margin: 0 auto;
}

.ParallaxBackground(){
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
}

.CoverBackground(){
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*--------------------------------------------*/
/*---> FORM <----------------------------------*/
/*--------------------------------------------*/

input, button, select{
	outline: none;
	border: none;
}

/*--------------------------------------------*/
/*---> BACKGROUNDS <--------------------------*/
/*--------------------------------------------*/

section.module.background1{
	background: url('img/squaresTunnel.jpg');
}

section.module.background2{
	background: url('img/theBean.jpg');
}

/*--------------------------------------------*/
/*---> PARALLAX <-----------------------------*/
/*--------------------------------------------*/

/*div.container{
	max-width: 90%;
	.Center();
}

section.module{

	&:last-child{
		margin-bottom: 0;
	}

	h2{
		text-align: center;
		font-family: @AlfaSlabOne;
		font-size: 1.5 * @smallFont;
	}

}

section.content{
	background: @charcoal;
	color: white;
	padding: 40px 0;
}

@parallaxBoxSize: 40vh;

section.parallax{

	height: @parallaxBoxSize;
	line-height: @parallaxBoxSize;
	.ParallaxBackground();

	h1{
		color: rgba(255, 255, 255, 0.8);
		font-family: @AlfaSlabOne;
		font-size: 2 * @smallFont;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	}

}*/