/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@focusColor: #0EBFE9;
@lightTone: @focusColor + #222222;
@darkTone: @focusColor - #222222;
@charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@FredokaOne: 'Fredoka One', cursive;
@NewsCycle: 'News Cycle', sans-serif;
@smallFont: 5vh;

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

p{
	width: 90vw;
	margin: 5vw;
	text-align: center;
	line-height: @smallFont * 1.25;
}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	background: url('blueDiagmonds.png');
	//Default Text Styles
	font-family: @NewsCycle;
	font-size: @smallFont;
	color: white;
}

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/


/*--------------------------------------------*/
/*---> FORM <----------------------------------*/
/*--------------------------------------------*/

input, button, select{
	outline: none;
	border: none;
}